@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* ///////////////// nabar //////////////// */



.navbar{
    /* border: 2px solid white; */
    padding: 1rem;
    background-color: black;
    position: sticky;
    top: 0px;

}

/* ////////////// nav content ////// / */

.navbar .navbar-content .logo{
    color: #e50914;
    font-size: 5.0em;
    float: left;
    text-transform: uppercase;

}

.navbar .navbar-content .nav-items{
    float: right;
    margin-top: 1rem;
}

.navbar::after{
    content: "";
    display: block;
    clear: both;
}

.navbar .navbar-content .nav-items .nav-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
}


/* ///////// designing  nav-bar item  ////////  */

.navbar a{
    padding-bottom: 0.3rem;
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.15em;
    border: 1px solid  #e50914 ;
    color: rgb(216, 199, 199);
    background-color: #e50914;
    padding: 0.3em 1.0em;
    border-radius: 2rem;
    margin: 0.5em 0;
}

.navbar a:hover{
    color: white;
    background-color: red;
}


/* //////////////// margin both side //////////////*/

.contenor{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}


/* //////////// header /////////// */

.header{
    height: 90vh;
    background: linear-gradient(to top,rgba(0,0,0,2.8) 0,rgba(0,0,0,.4) 60%,rgba(0,0,0,.8) 100%),url("../image-file/wallpapersden.com_tiger-shroff-and-hrithik-roshan-war-movie_1920x1080.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 8px solid #222;;
    padding-top: 10rem;
    padding-bottom: 6rem;
}

/* ////////// header tagline /////////// */


.header .tagline{
    color: white;
    text-transform: capitalize;
    font-size: 5.0em;
    letter-spacing: 0.15em;
    margin-bottom: 0.5rem;
    
}

span{
    color: #e50914;
}

.header .sub-tagline{
    color: white;
    text-transform: capitalize;
    font-size: 2.6rem;
    font-weight: 500;
}

.img-heading{
    color: white;
    text-transform: capitalize;
    font-size: 2.6rem;
    font-weight: 500;
}

.header .img-heading{
    padding-top: 10rem;
}

/* ///////// header img list ///////// */

.rowimg{
    display: flex;
    width: 100%;
    overflow-x: auto;
    padding-top: 30px;
    max-height: 220px;
}

.rowimg::-webkit-scrollbar{
    display: none;
}

.rowimg .img-item{
    width: 300px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition:750ms;
}

.rowimg .img-item:hover{
    border: 2px solid red;
}


/* //////////////////// showcase /////////////// */

.showcase{
    background: black;
    padding-bottom: 8rem;
    border-bottom: 8px solid #222222;
}

.showcase .img-heading{
    padding-top: 5rem;
}

/* //////////////// about us //////////////// */

.heading .aboutus{
    text-transform: capitalize;
    color:white;
    font-size: 4.5em;
    /* border: 1px solid black; */
    text-align: center;
    /* margin-top: 8rem; */
    margin-bottom: 6rem;
    padding: 0;
}

.contenor .box{
    /* border: 2px solid black; */
    height: 70px;
}

.box1 , .box2 , .box3 , .box4{
    margin-bottom: 2rem;
    background-color: #222222;

}

.box-text{
    color: white;
    text-transform: capitalize;
    font-size: 2.6rem;
    font-weight: 500;
    padding: 2rem;

}

.textdeco{
    text-decoration: none;
    color: white;
}

.textdeco:hover{
    border-bottom: 2px solid white;
}

.about{
    padding: 6rem 0;
    background-color: black;
}

@media (max-width:600px){
    html{
        font-size: 50%;
    }

}

@media (max-width:1024px) and (min-width:1023px){
    .header .contenor .img-heading{
        padding-top: 59rem;
    }
}

@media (max-width:768px) and (min-width:767px){
    .header .contenor .img-heading{
        padding-top: 29rem;
    }
}

@media (orientation:landscape) and (max-height:360px){
    .header{
        height: 90vmax;
    }
}

@media (orientation:landscape) and (max-height:768px){
    .header .contenor .img-heading{
        padding-top: 10rem;
    }
}

@media (max-width:320px) and (min-width:319px){
    .header .contenor .img-heading{
        padding-top: 3rem;
    }

    body .header{
        padding-top: 3rem;
    }
}
